$html-md-selector: ".html-md" !default;

// stylelint-disable value-keyword-case
$html-md-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

$html-md-font-weight-normal: 400 !default;
$html-md-font-weight-bold: 700 !default;
